servicio-pedidos/src/main/resources/pedido.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://idat.edu.pe/pedidos"
           xmlns:tns="http://idat.edu.pe/pedidos"
           elementFormDefault="qualified">

    <xs:element name="EstadoPedidoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EstadoPedidoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>